<!-- <br/>
<h4>Old way before *ngIf!</h4>
<div *ngIf="courses.length > 0">
  List of courses
</div>
<div *ngIf="courses.length === 0">
  No courses yet
</div>
<br/>

<h4>Hide properties</h4>
<div [hidden]="courses.length == 0">
  List of courses
</div>
<div [hidden]="courses.length> 0">
  No courses yet
</div>
<br/>

<h4>New way</h4>
<div *ngIf="courses.length > 0; then coursesList else noCourses"></div>
<ng-template #coursesList>
  Course list
</ng-template>
<ng-template #noCourses>
  No courses
</ng-template>
<br/> -->

<h4>*ngSwitch</h4>
<ul class="nav nav-pills">
  <li class="nav-item">
    <a class="nav-link" [class.active]="viewMode == 'map'" (click)="viewMode = 'map'">Map View</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [class.active]="viewMode == 'list'" (click)="viewMode = 'list'">List View</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [class.active]="viewMode == 'movie'" (click)="viewMode = 'movie'">Favorite Movies</a>
  </li>
</ul>

<div [ngSwitch]="viewMode">
  <div *ngSwitchCase="'map'">Map View Content</div>
  <div *ngSwitchCase="'list'">List View Content</div>
  <div *ngSwitchCase="'movie'">
    <ul>
      <li *ngFor="let movie of movies">
        {{ movie }}
      </li>
    </ul>
  </div>
  <div *ngSwitchDefault>Default View</div>
</div>

<!-- <h4>*ngFor</h4>
<button class="btn btn-primary" (click)="loadCourses()">Load Courses</button>
<button class="btn btn-primary" (click)="onAdd()">Add</button>
<ul>
  <li *ngFor="let course of courses; trackBy: trackCourse">
    {{ course.name }}
    <button class="btn" (click)="onRemove(course)">Remove</button>
  </li>
</ul> -->

<!-- ngClass -->
<!-- <i class="fa fa-lg" [ngClass]="{
  'fa-star': isActive,
   'fa-star-o': !isActive
}"></i> -->

<!-- ngStyle -->
<!-- <button [ngStyle]="{
  'backgroundColor': canSave ? 'blue' : grey,
  'color': canSave ? 'white' : black,
  'fontWeight': canSave ? 'bold' : normal
}">
  Save
</button> -->

<!-- Safe traversal operator -->
<span>{{ task.assignee?.name }}</span>
<br/>
<br/>
<!-- Custom directive-->
<input type="text" [appInputFormat]="'lowercase'">